@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html{
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
body{
  font-family: 'Montserrat', sans-serif;
  font: 1.6rem;
  height: 100%;
  margin: 0;
  overflow: auto;
}
#root
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.header
{
  display: flex;
  background-color:#0074e1;
  height: 5rem;
  align-items: center;
  justify-content: space-between
}
.sidebar-button
{
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: x-large;
  color: white;
  outline: none;
}
.brand
{
  margin-right: auto;
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin-left: 0.2rem;
}
.cart
{
  text-decoration: none;
  color: white;
  margin: 2.5rem;
  font-size: 1.8rem;
}
.signin
{
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin: 0.8rem;
  font-size: 1.8rem;
  background-color: transparent;
  outline: none;
  border-width: 0;

}
.profile
{
  margin-top: 1.1rem;
  margin-right: 1.5rem;  
  height: 100%;

}
.profilelinks
{
  display: none;
  position: absolute;
  background-color:#6cdaee;
  margin: 0.8rem;
  font-size: 1.8rem;
  padding: 1rem;
}
.profile:hover .profilelinks
{
  
  display: block;


}

.profilebutton
{
  
  margin: 0.5rem;
  background-color: transparent;
  outline: none;
  border-width: 0;
}
.profilelink
{
  text-decoration: none;
  color: white;
}
.logoutbutton
{
  margin: 0.5rem;
  background-color: transparent;
  outline: none;
  border-width: 0;
  color: white;
  cursor: pointer;
}
.sidebar{
  position: absolute;
  background-color: #6cdaee;
  top: 0;
  width: 19rem;
  height: 100%;
  transform: translateX(-19rem);
  transition: 0.4s;

}
.sidebar.open
{
  transform: translateX(0);
  transition: 0.4s;
}
.sidebar-close-button
{
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: x-large;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
}
.footer
{

  
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: #0074e1;
  font-size: small;
  color: white;
  
}

.main
{
  display: flex;
  height: 100%;
  margin-bottom: auto;
  margin-top: 5rem;

}
.products
{
  display: flex;
  margin:2rem;
  flex-wrap: wrap;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}
.product{
  margin: 2rem;
}
.product-title
{
  font-size: 2rem;
  margin: 0.5rem;
  text-decoration: none;
  color: black;
}
.product-title:visited
{
  color: black;
}
.product-price
{
  margin: 0.8rem;
}
.img
{
  height: 25rem;
  width: 20rem;
}

.signinform
{
  display: flex;
  margin: auto;
}


.signin_container
{
  width: 30rem;
  height: 35rem;
  display: block;
  margin: auto;
  background-color: #0074e1;
  text-align: center;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 6rem;;
}

.signup_container
{
  width: 30rem;
  height: 45rem;
  display: block;
  margin: auto;
  background-color: #0074e1;
  text-align: center;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.signintitle
{
  font-size: 3rem;
  color: white;
  font-style: italic;
}

.email
{
  height: 2rem;
  margin-top: 3rem;
  border-radius: 2rem;
  padding: 1rem;
  outline: none;
  font-size: medium ;
}

.name
{
  height: 2rem;
  margin-top: 4rem;
  border-radius: 2rem;
  padding: 1rem;
  outline: none;
  font-size: medium ;
}

.password
{
  height: 2rem;
  margin-top: 3rem;
  border-radius: 2rem;
  padding: 1rem;
  outline: none;
  font-size: medium;
}

.signinstatus
{
  margin-top: 2rem;
  color: red;
  font-weight: bold;
  font-size: small;
}

.signin_button
{
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  border-radius: 2rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  outline: none;
  border-width: 0;
  cursor: pointer;
}

.signin_button:enabled:hover
{
  color: white;
  background-color: #F79E02;
  transition: 0.5s;
}

.signuplink
{
  display: flex;
  margin: auto;
  text-decoration: none;
  margin-top: 2rem;
  color: white;
  justify-content: center;
  font-size: 1.3rem;
}

.signuplink:hover
{
  color: #F79E02;
  transition: 0.5s;
  font-size: 1.6rem;
}

.li_list
{
  list-style-type: none;
}

/*.product_details
{
  height: 100%;
  padding: 50px;
  display: inline;
}

.product_img
{
  width :45rem;
  height: 50rem;
  float: left;
  margin-left: 7rem;
}

.title
{
  font-size: xx-large;
}

.subtitle
{
  font-size: large;
}

.detail
{
  float: right;
  margin-left: 15rem;
  padding: 0.8rem;
}

.price
{
  font-size: 3rem;
  margin-top: 1rem;
}

.rating
{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.numreviews
{
  margin-top: 1rem;
  font-size: 1.5rem;
}

.counter
{
  font-size: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-top: 2rem;
}

.addtocart
{
  padding: 1rem 6rem 1rem 6rem;
  border-radius: 0.4rem;
  margin-top: 5rem;
  cursor: pointer;
  background-color: #F79E02;

}*/

.product_details
{
  display:inline-flex;
  flex-wrap: wrap;
}
.product_img
{
  width :45rem;
  height: 50rem;
  margin-left: 10rem;

}
.title
{
  font-size: xx-large;
}
.description
{
  font-size: large;
  margin-top: 2rem;
}
.detail
{
  
  margin-left: 10rem;
  padding: 0.8rem;
}
.price
{
  font-size: 3rem;
  margin-top: 1rem;
}
.rating
{
  font-size: 1.5rem;
  margin-top: 1rem;
}
.numreviews
{
  margin-top: 1rem;
  font-size: 1.5rem;
}
.counter
{
  font-size: 2rem;
  padding-right: 1.2rem;
  margin-top: 2rem;
}

.addtocart
{
  padding: 1rem 6rem 1rem 6rem;
  border-radius: 0.4rem;
  margin-top: 5rem;
  cursor: pointer;
  background-color: #F79E02;

}
.status
{
  font-size: large;
}
.outofstock
{
  margin-top: 2rem;
  font-size: large;
}
.cart-details
{
  display:inline-flex;
  width: 100%;
  flex-wrap: wrap;

}
.cart-items
{
  display: grid;
  margin-top: 4rem;
  margin-right: auto;
  justify-content: space-between;  
}
.cart-label
{
  display: inline-flex;
  font-size: large;
  text-decoration: underline;
  text-underline-offset: 1rem;
  margin-left: 5rem;
  flex-wrap: wrap;
}
.cart-status
{
  margin-left: 6rem;
  font-size: large;
  margin-top: 10rem;
}

.item
{
  margin: 0.5rem;
  margin-top: 2rem;
  display: inline-flex;
  border-bottom: 0.1rem solid;
  padding-bottom: 2.5rem;
}
.cart-p-img
{
  height: 12rem;
  width: 12rem;
}
.item-details
{
  display: block;
  margin-left: 2rem;
  text-align: center;
  
}
.item-name
{
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  justify-content: center;
  align-items: center;
  
}
.item-price
{
  margin-top: 0.4rem;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.qty-container
{
  display: inline-flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.delete-cart
{
  padding: 0.5rem;
  margin-top: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-width: 0;
  outline: none;
}
.delete-cart:hover
{
  transition: 0.4s;
  background-color: #C0392B;
  color: white;

}

.subtotal
{
  display: flex;
  margin-left: 20rem;
  align-items: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
}


.item-subtotal
{
  font-size: 2.5rem;
}

.total
{
  display: block;
  margin-left: auto;
  height: 10rem;
  width: 25rem;
  background-color: #E8E8E8;
  margin-right: 10rem;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 2rem;
  

}

.temp
{
  display: none;
}

.checkout_btn
{
  background-color: #F79E02;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  margin: auto;
  margin-top: 1.5rem;

}
.total-text
{
  margin-top: 2rem;
  text-align: center;
}

.signupstatus
{
  margin-top: 3rem;
  color: red;
  font-weight: bold;
  font-size: small;
}
.signupsuccess
{
  margin-top: 3rem;
  color: #F79E02;
  font-weight: bold;
  font-size: small;
}